@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-size: 16px;
}

body {
    background-color: rgb(245, 245, 245);
    color: rgb(42, 42, 42);
}

*:disabled {
    cursor: not-allowed;
}

/* LOGIN */

.login-card {
    background-image: url('/src/img/login-bg-2.jpg');
    background-position: center;
    background-size: cover;
}

/* ADD STUDENT */
.input-field-addstudent {
    display: grid;
    grid-template-columns: 25% 75%;
    align-items: center;
    margin: 8px 0;
}

.input-field-addstudent-preview {
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 6px;
}

/* STUDENT TABLE */
table {
    width: 100%;
    font-size: 14px;
}

td, th {
    white-space: nowrap;
    padding: 15px 1rem;
}

.table-layout-1 thead {
    background-color: #448aed;
    color: white;
}
.table-layout-1 thead th {
    max-width: 200px;
    width: 200px;
    /* padding: 1rem 0; */
}
.table-layout-1 tbody td {
    max-width: 200px;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    /* padding: .8rem .6rem; */
}

.table-layout-1 tbody tr:hover {
    opacity: .9;
    color: #3667ab;
}

.table-layout-1 tbody tr:nth-child(even){
    background-color: #dbdbdb;
}

.request-info {
    display: grid;
    grid-template-columns: 30% 70%;
}

.request-name {
    display: grid;
    grid-template-columns: 25% 75%;
}


/* COLORS */

.bg-transparent {
    background-color: transparent;
}

.bg-darkblue-pastel {
    background-color: #2f2f2f;
}

.bg-1 {
    background-color: #39726F;
    border: 3px solid #39726F;
    color: rgb(244, 244, 244);
}
.bg-1:hover {
    background-color: #39726f18;
    border: 3px solid #39726F;
    color: #39726F;
}

.bg-2 {
    background-color: #3A82F7;
    border: 3px solid #3A82F7;
    color: rgb(244, 244, 244);
}
.bg-2:hover {
    background-color: #3a83f718;
    border: 3px solid #3A82F7;
    color: #3A82F7;
}

.bg-3 {
    background-color: #ED486A;
    border: 3px solid #ED486A;
    color: rgb(244, 244, 244);
}
.bg-3:hover {
    background-color: #ed486918;
    border: 3px solid #ED486A;
    color: #ED486A;
}

.bg-4 {
    background-color: #AE003B;
    border: 3px solid #AE003B;
    color: rgb(244, 244, 244);
}
.bg-4:hover {
    background-color: #ae003a18;
    border: 3px solid #AE003B;
    color: #AE003B;
}

.text-darkblue-pastel {
    color: #0081C9;
}